.positioning {
    display: flex;
    flex-direction: row;
    .content {
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        span {
            color: gray;
            font-weight: bold;
        }
    }
}
