@import "../../../../custom/mixins";

.explorer {
    .header {
        @include header-style;
        margin-bottom: 3rem;
    }
}

.center {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: center;
}
