@mixin header-style {
	p,
	span {
		color: #848484;
	}
}

@mixin hr-style {
	width: 100%;
	height: 1px;
	color: #000000;
	margin: 5% 0;
}

@mixin loading-style {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 15rem;
	height: 100vh;
}

@mixin bootstrap-nav-style {
	:global(.nav) {
		:global(.nav-item) {
			:global(.active) {
				background-color: #ffc107 !important;
				color: #000000 !important;
			}
		}
	}
	:global(.nav) {
		:global(.nav-item) {
			a {
				color: black;
				cursor: pointer;
				margin: 0.25rem 0;
			}
		}
	}
}
