.explorer {
    flex: 3;
    :global(.nav) {
        :global(.nav-item) {
            :global(.active) {
                background-color: #ffc107 !important;
                color: #000000 !important;
            }
        }
    }
    :global(.nav) {
        :global(.nav-item) {
            a {
                color: black;
                cursor: pointer;
                margin: 0.25rem 0;
            }
        }
    }
}
