@import "../../../../custom/mixins";

.featured {
    width: 100%;
    height: auto;
    color: black;
    .header {
        @include header-style;
    }
    :global(.swiper-slide) {
        width: auto;
    }
    :global(.swiper-button-next) {
        color: black;
    }
    :global(.swiper-button-prev) {
        color: black;
    }
}
