.featured {
	width: 100%;
	height: auto;
    color: white;
    .header {
        p {
            color: #848484;
        }
    }
    :global(.swiper-slide) {
        width: auto;
    }
    :global(.swiper-button-next) {
        color: white;
    }
    :global(.swiper-button-prev) {
        color: white;
    }
}