.info {
    width: 100%;
    height: 60rem;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 8px;
    flex: 13;
    margin-left: 1.5rem;
    .grid {
        height: 100%;
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: max-content;
    }
    .no-result {
        display: flex;
        height: 100%;
        justify-content: center;
        margin-top: 15rem;
        height: 100%;
    }
}
