@import "../custom/mixins";

@include header-style;

.admin {
    margin: 3% 10%;
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: black;
    }
    .header h2 {
        color: black;
    }
    .loading {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

label {
    color: black;
}
