@import "../custom/mixins";

@include header-style;

.admin {
    margin: 3% 10%;
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: white;
    }
    .header h2 {
        color: white;
    }
}

label {
    color: white;
}
